* {
    font-family: 'Limelight', cursive;
}

.image-carousel,
.main-hero-image {
    background-color: #460b0b;
}
.navbar,
.genre-images,
.genre-field {
    background-color: #27383e;
}

.genre-images {
    height: 10rem;
}

/* .bulma-hamburger-mixin {
    @include hamburger(2.5rem);
  } */