/* At some point when we combine CSS properties we should consider using CSS variables for the themed color sections  */

* {
    font-family: 'Limelight', cursive;
}

.image-carousel,
.main-hero-image {
    background-color: #460b0b;
}

.navbar,
.genre-images,
.genre-field {
    background-color: #27383e;
}

.genre-images {
    height: 10rem;
}

.film-banner {
    background-color: #27383e;
    height: 72px;
    background-image: url("./images/image.png");
    background-repeat: repeat-x;
}

/* .bulma-hamburger-mixin {
    @include hamburger(2.5rem);
  } */