
.home-modal {
    position: absolute;
    top: 8rem;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    transition: opacity 0.4s;
}

.home-modal.year-dropdown.genre-dropdown.search-input{
    opacity: 1;
    display: block;
}
 
.my-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #27383e;
    border-radius: 6px;
    text-align: center;
    padding: 4rem;
    box-shadow: 0 0 64px 12px white;
}

.home-modal,
.titleText{
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

.home-modal .messageText {
    margin: 2rem 0;
}

.home-modal .my-content button{
    width: 40%;
    padding: 0.75rem;
    margin: 0 5px;
    color: white;
    border: 0;
    border-radius: 6px;
}

.home-modal .my-content button.homeButtonText{
background-color: hsl(48, 100%, 67%);
}

.data-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 25rem;
}

.container-dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}