main {
    background-color: #460b0b;
    height: 100vh;
}

#main-section {
    background-color: #460b0b;
    height: fit-content;
}
.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27383e;
    color: white;
    font-family: 'Limelight', cursive;
}
#home-btn {
    /* background-color: #cb861a; */
    color: white;
    /* position: absolute;
    top: 15px;
    right: 10px;
    transform: translateX(-50%); */
    font-family: 'Limelight', cursive;
}

.movie-data-container {
    height: 50rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.movie-frame {
    background-image: url(./images/poster-frame.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0 25px 15px black inset, 0 0 8px 8px #460b0b;
    width: 26rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.movie-image {
    height: 71%;
    width: 68.5%;
    margin: 1.7rem;
}

.marquee-section {
    width: 26rem;
    height: 10rem;
    background-color: #ffe08a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.text-styling {
    font-family: 'Limelight', cursive;
}


#movie-option-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #cb861a;
    color: white;
    font-family: 'Limelight', cursive;
}
#title-selection-2 {
    float: right;
    margin-bottom: 0px;
}
#subtitle-selection-2 {
    position: absolute;
    right: 50px;
    top: 525px;
}    
#movie-option-3 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #cb861a;
    color: white;
    font-family: 'Limelight', cursive;
}
#movie-image {
    position: absolute;
    top: 102px;
    left: 1600px;
    width: 200px;
    height: 275px;  
}
#movie-image-3 {
    position: absolute;
    top: 745px;
    left: 1600px;
    width: 200px;
    height: 275px;  
}
footer {
    transform: scaleY(-1);
}
.film-banner {
    height: 72px;
    background-image: url("./images/image.png");
    background-repeat: repeat-x;
    background-color: #27383e;
}