body {
    background-color: #460b0b 
}
.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27383e;
    color: white;
    font-family: 'Limelight', cursive;
}
#home-btn {
    background-color: #cb861a;
    color: white;
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translateX(-50%);
    font-family: 'Limelight', cursive;
}
#movie-option-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #cb861a;
    color: white;
    font-family: 'Limelight', cursive;
}
#movie-option-2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #cb861a;
    color: white;
    font-family: 'Limelight', cursive;
} 
#movie-option-3 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #cb861a;
    color: white;
    font-family: 'Limelight', cursive;
}
.float-right {
    float: right;
    margin-left: 5px;
    width: 13%  ;
    height: auto;
    margin-top: -80px;
}
footer {
    transform: scaleY(-1);
}
.film-banner {
    height: 72px;
    background-image: url("./images/image.png");
    background-repeat: repeat-x;
    background-color: #27383e;
}