.hero-body {
    background-color: #460b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Limelight', cursive;
}

.image-carousel,
.main-hero-image {
    background-color: #460b0b;
}
.navbar,
.genre-images,
.genre-field {
    background-color: #27383e;
}

.navbar{
    height: 4rem;
}

.genre-images {
    height: 10rem;
}

#oops {
    font-size: 200px;
}

#btn-home {
    background-color: #27383e;
    color:#ffdb84;
}
