.home-modal {
    height: 100%; overflow: visible;
    width: 100%; overflow: visible;
    position: absolute;
    top: 0;
    margin-bottom: -100%;
    z-index: 1;
    background-color: rgba(27, 13, 13, 0.7);
}
 
.my-content{
    width: 70%;
    background-color: #27383e;
    border-radius: 6px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 64px 12px white;
}

.home-modal,
.titleText{
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

.home-modal .messageText {
    margin: 2rem 0;
}

.home-modal .my-content button{
    width: 40%;
    padding: 0.75rem;
    margin: 0 5px;
    color: white;
    border: 0;
    border-radius: 6px;
}

.home-modal .my-content button.homeButtonText{
    background-color: hsl(48, 100%, 67%);
}

.data-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

.container-dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.container-dos p,
#modal-image {
    margin: 1rem;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
    .home-modal,
    .titleText {
    font-weight: 500;
    font-size: 1rem;
    color: white;
    }

    .data-container {
        flex-direction: column;
    }
}