main {
    background-color: #460b0b;
    padding-top: 1%;
    padding-bottom: 9%;
}

footer {
    transform: scaleY(-1);
}

.genre-title {
    margin-right: 10.5%
}

.movie-data-container {
    height: 50rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.movie-frame {
    background-image: url('../images/poster-frame.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0 25px 15px black inset, 0 0 20px 2px #ffe08a;
    width: 26rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-image {
    height: 71%;
    width: 68.5%;
}

.marquee-section {
    width: 26rem;
    height: 12rem;
    background-color: #ffe08a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0 0 20px 2px #ffe08a;
    border: solid 2px #cb861a
}

.text-styling {
    font-family: 'Limelight', cursive;
}

.navbar {
    font-family: 'Limelight', cursive;
}

.film-banner {
    height: 72px;
    background-image: url("../images/image.png");
    background-repeat: repeat-x;
    background-color: #27383e;
}

#page-load-gif {
    margin: 12%;
    box-shadow: 0 0 50px 8px #ffe08a;

}

#main-section {
    background-color: #460b0b;
    height: fit-content;
    width:100%;
}


@media screen and (min-width: 375px) and (max-width: 700px) {
    main {
        padding-top: 20%;
        padding-bottom: 60%;
    }

    .movie-data-container {
        height: 30rem;
        width: 15rem;
    }

    .movie-frame {
        width: 13rem;
        height: 17.5rem;
    }

    .marquee-section {
        width: 13rem;
        height: 10rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1041px) {
    main {
        padding-top: 20%;
        padding-bottom: 30%;
    }
}

/* @media screen and (min-width: 1042px) and (max-width: 1445px) {
    main {
        padding-top: 5%;
        padding-bottom: 19%;
    }
} */

@media screen and (max-width: 1023px) {
    #bulma-custom .navbar-menu {
        background-color: rgba(10,10,10,.1);
    }
}