a {
    font-family: 'Limelight', cursive;
}

.hero-body {
    background-color: #460b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Limelight', cursive;
}

.film-banner{
    height: 72px;
    background-image: url("../images/image.png");
    background-repeat: repeat-x;
    background-color: #27383e;
}

#oops {
    font-size: 150px;   
}

.dead-end {
    font-size: 200px;
    font-family: 'Creepster', cursive;
    color: #ffdb84;
}

.tenor-gif-embed {
    margin-left: 30%;
    margin-bottom: 5%;
}


